p{ 
    color: blue;  
    background-color: rgba(24, 18, 29, 0.614);
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
#texto{
    color: aqua;     
}